@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,600,700');

body {
    padding-top: 30px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

#plan_all {
    position: relative;
    left: 50px;
}

#headerRow {
    margin-bottom: 30px;
}

h1 {
    line-height: 90px;
}

#imgHeader {
    width: 50%;
}

.rowName {
    line-height: 100px;
}

.semesterName {
    top: 5px;
    text-align: center;
    position: relative;
    width: 90px;
    float: left;
    z-index: 1;
}

#semester1Name {
    left: 155px;
}

#semester2Name {
    left: 365px;
}

#yearNameColumn {
    top: 0px;
    padding-left: 10px;
}

.yearNames {
    position: relative;
    line-height: 105px;
    list-style: none;
    font-size: 18px;
}

#rowYearInnerPlan {
    position: relative;
    top: 5px;
}

#mainRow {
    position: relative;
}

#plan {
    position: relative;
    padding: 0px;
}

#innerPlan {
    position: relative;
}

#colInnerPlan {
    padding: 0px;
}

.courseBox {
    position: absolute;
    height: 96px;
    width: 96px;
    background-color: aliceblue;
    text-align: center;
    line-height: 96px;    
}

#semester1Box {
    position: absolute;
    height: 100%;
    background-color: #fffbef;
}

#semester2Box {
    position: absolute;
    height: 100%;
    background-color: #e7ffca;
    left: 400px;
}

.semesterBox {
    float: left;
}

#planMenu {
    position: relative;
    height: 500px;
    top: 0px;
}

.directedHeading {
    font-size:18px;
    margin-bottom:30px;
}

.empty {
    font-size: 14px;
    width: 100px;
    margin-bottom: 2px;
    padding: 2px;
    padding-left:30px;
    background-color: aliceblue;
    z-index: 2;
    position:absolute;
    left: 190px;
    top:40px;
}

.directeds {
    font-size: 14px;
    cursor: pointer;
    width: 100px;
    margin-bottom: 2px;
    padding: 2px;
    background-color: aliceblue;
    z-index: 2;
}

    .electives:hover, .directeds:hover {
        background-color: #BCE0FF;
    }

.electives {
    margin-bottom: 2px;
    cursor: pointer;
    padding: 2px;
    background-color: aliceblue;
    width: 100px;
    z-index: 2;
}

.subAccordion {
    width: 80%;
    float: left;
    height: 100%;
}

#tabs {
    height: 500px;
}

#tabs-2 {
    padding: 10px;
}

#tabs-3 {
    overflow-y: scroll;
    
}

#accordion {
    position: relative;
    top: 10px;
    height: 400px;
    overflow-y: auto;
}

.accordions {
    padding: 0px !important;
}

h4 {
    width: 80%;
    float: left;
}

#rowSubmit {
    position: relative;
} 


#optionsMenu {
    height: 100%;
}

.draggable {
    cursor:move;
}

.degreeCore {
    background: #ffe175;
}

.majorCore {
    background: #6FC5EB;
}

.majorCourse {
    background: #1da5e1;
}

.electiveCourse {
    background: #C8F99B;
}

.emptyCourse {
    background: aliceblue;
}

.majorslot {
    border: 2px dashed #1da5e1;
    line-height:16px;
    font-size:14px;
    padding-top:6px;
    padding-right:1px;
}

.potentialElective {
    border: 2px dashed #b4f776;
}

.btnGridDegreeSlot {
    height: 100%;
    width: 100%;
}

#optionsMenuHeading {
    width: 150px;
    margin-top: 10px;
    font-size: 20px;
    left: 70px;
    position: relative;
    
}

#lblEmpty {
    width:180px;
}

#editOption0 {
    position: relative;
    top: 10px;
    padding-top:20px;
    border-top: dashed 1px;
    border-bottom: dashed 1px;
    height: 105px;
}

#editOption1 {
    position:relative;
    top:40px;
    border-bottom:dashed 1px;
    height:80px;
}

#editOption2 {
    position: relative;
    top: 80px;
    height:65px;
    border-bottom: dashed 1px;
}

#editOptionDegreeOptional {
    position:relative;
    top:80px;
}

.optionalDegreeSlotContainer {
    position: relative;
    padding-bottom: 50px;
    padding-top: 30px;
    border-bottom: dashed 1px;
}

.lblEditOptionDegreeOptional {
    text-align:center;
}

.degreeOptionalSlot {
    position:relative;
    top:10px;
    margin: 0 auto;
    width: 96px;
    height:100%;
}

.btnDegreeSlot {
    width:90px;
    margin:2px;
    position:relative;
}

#lblNewNumOfSubjects {
    position: relative;
    width: 224px;
    text-align: left;
    margin: 0 auto;
}

#newNumOfSubjects {
    left: 90px;
    top: 10px;
    position: relative;
    width: 60px;
}

#btnNewNumOfSubjects {
    top: 10px;
    left: 90px;
    position: relative;
    width: 60px;
}

#btnAddCourse{
    width:143px;
}

#btnRemoveCourse {
    width: 143px;
    text-align:center;
}

.iconRefresh {
    position: absolute !important;
    bottom: 8px;
    right: 5px;
    cursor: pointer;
}

#imgRefreshDirecteds {
    position: absolute;
    right: 35px;
    top: 62px;
    width: 25px;
    cursor: pointer;
}

#btnEmailSubmit{
    position:relative;
    top:500px;
    left:30px;
    z-index:1;
}

<<<<<<< HEAD
#legend {
    left: 30px;
    top: 8px;
    width: 310px;
    height: 42px;
    position: relative;
    border: 1px dashed #808080;
}

#legendTitle {
    position:relative;
    left:10px;
    top:10px;
}

.legendOuter {
    position: absolute;
    top: 0px;
    width: 70px;
    text-align: center;
    height: 50px;
}

#legendOuterCore {
    left:70px;
}

#legendOuterMajor {
    left: 80px;
}

#legendOuterElective {
    left: 80px;
}

.legendColour{
    height:28px;
    line-height:28px;
    position:relative;
    top:6px;
}

#legendCore {
    background: #ffe175;
}

#legendMajor {
    background: #6FC5EB;
}

#legendElective {
    background: #C8F99B;
}
=======
.loadingAnimation {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 30px;
    height: 30px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
>>>>>>> ad85c18bcbb1ab50d6f1b727a524225598029fc4
